# IDEs files Eclipse, Zend Studio, Netbeans, PHPStorm y TextMate2
.buildpath
.project
.settings
nbproject/
.idea
.tm_properties
(?i)\~

INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

application/configs/application.ini
