source: application/
destination: docs/
extensions: [ php, js ]
charset: utf-8
main: Zendcha

title: "Zendcha - ZendFramework plus Sencha Ext JS"
baseUrl: "http://local.docs.zendcha.com/"
templateConfig: "C:\\xampp\\php\\PEAR\\data\\ApiGen\\templates\\default\\config.neon"

accessLevels: [ public, protected, private ]
internal: Yes
deprecated: Yes
todo: Yes
download: Yes

colors: Yes